replicaCount: 1
namespace: "hawk"
image:
  repository: psaikia/hello-app
  tag: "sha-8cab51c"
  pullPolicy: IfNotPresent
  digest: "sha256:fac7e865429aa36ed24951a8be9ec0b0d4bacca6a7197cdebfaa9d673b2aeefa"
resources:
  requests:
    cpu: "50m"
    memory: "64Mi"
  limits:
    cpu: "200m"
    memory: "128Mi"
securityContext:
  runAsNonRoot: true
  runAsUser: 10001
  allowPrivilegeEscalation: false
  readOnlyRootFilesystem: true
  capabilities:
    drop: ["ALL"]
podAnnotations: {}
autoscaling:
  enabled: false
terminationGracePeriodSeconds: 10
