replicaCount: 2
namespace: "hawk"
image:
  repository: psaikia/hello-app
  tag: "sha-57875c1"
  pullPolicy: IfNotPresent
  digest: "sha256:c484af5df59cb2c6b97ff1c73cf36acb41feb4f368f5976926e05168872dc86d"
resources:
  requests:
    cpu: "50m"
    memory: "64Mi"
  limits:
    cpu: "200m"
    memory: "128Mi"
securityContext:
  runAsNonRoot: true
  runAsUser: 10001
  allowPrivilegeEscalation: false
  readOnlyRootFilesystem: true
  capabilities:
    drop: ["ALL"]
podAnnotations: {}
autoscaling:
  enabled: false
terminationGracePeriodSeconds: 10
