replicaCount: 2
namespace: "hawk"
image:
  repository: psaikia/hello-app
  tag: "sha-fbae9c1"
  pullPolicy: IfNotPresent
  digest: "sha256:f7e34922bed62e7f0d9550dfc5aa06d01e7ba1f86370ae8c4582d3329403020b"
resources:
  requests:
    cpu: "50m"
    memory: "64Mi"
  limits:
    cpu: "200m"
    memory: "128Mi"
securityContext:
  runAsNonRoot: true
  runAsUser: 10001
  allowPrivilegeEscalation: false
  readOnlyRootFilesystem: true
  capabilities:
    drop: ["ALL"]
podAnnotations: {}
autoscaling:
  enabled: false
terminationGracePeriodSeconds: 10
